mypy==1.4.1
pydantic==2.1.1
sqlalchemy==2.0.19
black==23.7.0
ruff==0.0.282
pytest==7.4.0
pytest-cov==4.1.0
coverage==7.2.7
psycopg2-binary==2.9.7
alembic==1.11.2
google-api-core==2.14.0
google-api-python-client==2.132.0
google-auth==2.23.4
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.61.0
